.techs__item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 90px;
    background: #E8E8E8;
    border-radius: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.04em;
}

.techs__item:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 1023px) {
    .techs__item {
        height: 57px;
        width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
}

@media screen and (max-width: 767px) {
    .techs__item:not(:last-child) {
        margin-right: 0;
    }
}