@media screen and (max-width: 1023px) {
    .header__menu-icon {
        height: 44px;
        width: 44px;
        background-image: url(../../../images/icon-main.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}