.search-form__input {
    height: 43px;
    width: 100%;
    padding: 0 0 0 63px;
    margin: 0;
    background: url(../../../images/icon-find.svg) no-repeat scroll 24px 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    outline: none;
    border: 0;
}

.search-form__input:focus {
    background: url(../../../images/icon-find_active.svg) no-repeat scroll 24px 5px;

}

@media screen and (max-width: 767px) {
    .search-form__input {
        padding: 0 0 0 19px;
        background: none;
        font-size: 14px;
    }
}