.profile__button-exit {
    margin: 16px auto 70px;
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EE3465;
    cursor: pointer;
}

.profile__button-exit:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__button-exit {
        font-size: 12px;
        line-height: 15px;
    }
}