.header__container {
    position: fixed;
    padding-top: 159px;
    padding-bottom: 92px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 520px;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .header__container {
        width: auto;
        left: 0;
        padding-top: 144px;
        padding-bottom: 75px;
    }
}

