@media screen and (max-width: 1023px) {
    .header__menu-layout-bg {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.3;
    }
}