.about-project__timeline-task {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    height: 36px;
}

@media screen and (max-width: 1023px) {
    .about-project__timeline-task {
        font-weight: 400;
    }
}

@media screen and (max-width: 767px) {
    .about-project__timeline-task {
        font-size: 11px;
        line-height: 13px;
    }
}