.footer__link-text {
    margin: 0;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link-text:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .footer__link-text {
        font-size: 12px;
        line-height: 15px;
    }
}