.techs__items {
    margin: 100px 0;
    padding: 0;
    display: flex;
    text-align: center;
    vertical-align: center;
}

@media screen and (max-width: 1023px) {
    .techs__items {
        margin-top: 83px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .techs__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
}