.registration {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 70px 0;
}

@media screen and (max-width: 1023px) {
    .registration {
        padding-top: 232px;
    }
}

@media screen and (max-width: 767px) {
    .registration {
        padding-top: 57px;
    }
}